/flipcart-clone/backend/node_modules
/flipcart-clone/backend/package-lock.json
/flipcart-clone/frontend/node_modules
/flipcart-clone/frontend/package-lock.json
/flipcart-clone/backend/.env
/flipcart-clone/frontend/.env
/flipcart-clone/backend/uploads
/flipcart-clone/backend/src/modules/products/uploads
/flipcart-clone/backend/src/modules/categories/uploads
/flipcart-clone/backend/src/uploads